.panel {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 18vh;
}

.panel button {
    font-size: 1rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.library-panel,
.save-panel,
.generate-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}
