@import url(./sliders.css);
@import url(./panel.css);
@import url(./colors.css);
@import url(./controls.css);
@import url(./copy.css);
@import url(./animations.css);

:root {
    --primary-color: rgb(1, 3, 21);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

path,
i,
svg {
    pointer-events: none;
}

.nav {
    padding: 0.7rem;
    display: block;
    position: relative;
    z-index: 100;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav h1 {
    font-size: 1rem;
    text-align: center;
    padding: 0.3rem;
    background-color: rgb(235, 235, 235);
    border-radius: 1rem;
    width: 8rem;
}
